extends layout

block content
    div(class = 'special')
        h1 Task: Get content of URL
        p This is my way of implementing this task.
        p Below is the content (anything after '/') in italic:
        i= output
