extends layout

block content
  div(class = 'special')
    h1 Avast task
    ul
      li(float ) get current time (Unix epoch in milliseconds)
      li get first N bytes of a file
      li get content of an URL

