extends layout

block content
  div(class = 'special')
    h1 Avast task
    ul
      li Get current time (Unix epoch in milliseconds)
      li Get first N bytes of a file
      li Get content of an URL

