doctype html
html
  head
    link(rel='icon', href='https://static3.avast.com/2000387/web/i/favicon-32x32.png')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class = 'topNav')
      a(href='http://localhost:3000/') Home
      a(href='http://localhost:3000/unixTime') UnixTime
      a(href='http://localhost:3000/nBytes') N-Bytes
      a(href='http://localhost:3000/contentOfURL/ExampleContent') Content
    block content
